### Exercise 1 
We throw two fair dice and a coin at the same time. What is the probability that the sum of the numbers on the dice are higher than 4 or the
coin lands on Heads?

**Probability OR: Calculations**\
The formula to calculate the “or” probability of two events A and B is this: $P(A$  OR  $B)$ = $P(A) + P(B)  –  P(A$ AND  $B)$

**A** - sum of the numbers on the dice are higher than 4 \
**B**- coin lands on Heads

P(A) = $\frac{30}{36}$ = $\frac{6}{7}$ 

P(B) = $\frac{1}{2}$

 
P(A **AND** B) = $\frac{6}{7}$ $\cdot$  $\frac{1}{2}$ = $\frac{6}{14}$

$P(A$  OR  $B)$ = $P(A) + P(B)  –  P(A$ AND  $B) = $ $\frac{6}{7}$ + $\frac{1}{2}$ - $\frac{6}{14}$ = $\frac{12}{14}$ + $\frac{7}{14}$ - $\frac{6}{14}$ = $\frac{3}{14}$  $\approx$ = **0.21**

In [8]:
import pandas as pd
import numpy as np
ratings = pd.read_csv('ratings2.csv')
films = pd.read_csv('films.csv')
item = pd.read_csv('item_based.csv',  decimal=",")
collaborative = pd.read_csv('collaborative.csv',  decimal=",")

coll = ratings - ratings.mean()
coll.drop(['Unnamed: 0'], axis=1, inplace=True)

corr = round(coll.corr(method = 'pearson'), 2)
corr

<ipython-input-8-9e24bf13b1ab>:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  coll = ratings - ratings.mean()

                  Ludvig Sæter  Teodor Haraldson
Ludvig Sæter              1.00              0.17
Teodor Haraldson          0.17              1.00

Correlation:

    - Kamila Hansen        most correlated with Marte Berge
    - Lene Beck            most correlated with Ludvig Sæter
    - Marte Berge          most correlated with Kamila Hansen
    - Emilie Rasmunsen     most correlated with Marte Berge

### Item based:
Calculated mean for specific film type for particular user.

In [5]:
item

,Unnamed: 0,Money Heist,Mr. Robot,Rick and Morty,Brooklyn nine-nine,Peaky Blinders,After Life,BoJack Horseman
0,Teodor Haraldson,6,9,8.0,8,5,6,8
1,Kamila Hansen,8,8,5.3,9,5,4,3
2,Marthe Berge,7,5,1.0,8,6,5,3
3,Lene Beck,5,9,5.3,8,3,7,1
4,Ludvig Sæter,5,7,5.0,8,6,7,5
5,Emillie Rasmusen,3,2,4.0,9,7,2,5

### Collaborative filtering

In [9]:
collaborative

NameError: name 'collaborative' is not defined